# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Base de données locale
*.db
data/*.db

# Environnement virtuel
.venv/
venv/
env/

# Variables d'environnement
.env

# Build artifacts
build/
dist/
*.spec

# PDFs générés
receipts/*.pdf

# IDE
.vscode/
.idea/
